body {
    font-family: Arial, Verdana, Geneva, sans-serif;
    font-size: small;
    background: #eeecdf;
}
header {
    text-align: center;
    border: thin solid black;
    margin-bottom: 10px;
}
div.right {
    margin-left: 120px
}
.with_border {
    border: thin solid black;
    background: white;
    padding-left: 10px;
    margin-bottom: 10px;
}
#all_questions {
    float: left;
    width: 100px;
    padding-left: 10px;
    margin-bottom: 10px;
    height: 100%;
    overflow: auto;
}
#answer_options, #question {
    padding-right: 10px;
}
#answer_option {
    background-color: #d3e1ed;
}
span {
    font-weight: bold;
    margin-left: 5px;
}
button {
    margin-left: 5px;
    margin-top: 50px;
}
li {
    padding-bottom: 10px;
}
#result {
    padding-top: 10px;
}
#correct {
    font-size: large;
    color: green;
}
#incorrect {
    font-size: large;
    color: red;
}